# Temporary
application/Tmp/templates_c/*
!application/Tmp/**/.gitkeep


#Database 
application/Configs/data/user.sqlite
!application/Configs/data/.gitkeep

# Vendor
vendor/*

# Composer
composer.lock